@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  background-image: url(./leaves.jpeg);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
  
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 550px;
    background: #F5F5F5 rgb(245,245,245);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #bbc9e2cc;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.container {
  background-color: white;
  display: block;
  border-style: solid;
  border-color: green;
  margin-top: 150px;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  margin-bottom: 20px;
}
